.clang_complete
CMakeListsPrivate.txt
.cproject
.directory
gallAButton.pro
gallAButton.pro.user
.gcc-flags.json
.idea/clion.iml
.idea/misc.xml
.idea/modules.xml
.idea/platformio.iml
.idea/vcs.xml
.idea/workspace.xml
.pioenvs
.project
.settings/
src/utils.h.gch
