body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #585858;
    font-weight: 400;
    background: #fff
}

p {
    margin: 0 0 1em 0
}

a {
    color: #cd5c5c;
    background: transparent;
    text-decoration: underline
}

a:active, a:hover {
    outline: 0;
    text-decoration: none
}

strong {
    font-weight: 700
}

em {
    font-style: italic
}

h1 {
    font-size: 32px;
    line-height: 38px;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
    color: #343434;
    font-weight: 400
}

fieldset, legend {
    border: 0;
    margin: 0;
    padding: 0
}

legend {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700
}

label, button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

input {
    line-height: normal
}

.input {
    width: 100%;
    clear: both
}

input[type='text'], input[type='email'], input[type='tel'], input[type='date'] {
    height: 36px;
    padding: 0 0.4em;
}

input[type='checkbox'], input[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}

