header {
    width: 100%;
    background-color: #decd87;
    top: 0;
    min-height: 60px;
    margin-bottom: 21px;
    font-size: 15px;
    color: #fff
}

.content-body {
    padding: 0 1em 0 1em
}

header p {
    font-size: 1.25rem;
    float: left;
    position: relative;
    z-index: 1000;
    line-height: normal;
    margin: 15px 0 0 10px
}

.formcontainer {
    width: 100%;
    clear: both;
}

.formcontainer input {
    line-height: normal;
    width: 80%;
    clear: both;
}

